@import "../css/mixins";

cre8-input-wrapper textarea,
cre8-input-wrapper input{
  box-sizing:content-box;
  -moz-box-sizing:    content-box;   /* Firefox 1, probably can drop this */
  -webkit-box-sizing: content-box;   /* Safari 3-4, also probably droppable */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


$input-height: 30px;

$label-text-color: #666;
$label-font-size: 12px;

$border-height:12px;
$border-color: #333;
$border-label-color-text: #666;

$input-text-color: #ccc;
$input-font-size: 12px;




//////////////////////////////////////////////

cre8-input-wrapper input::-moz-focus-inner {
  border: 0;
}

cre8-input-wrapper input:focus, cre8-input-wrapper textarea:focus {
  outline: 0;
}

cre8-input-wrapper {
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);
  position: relative;
  min-height: $input-height + $border-height;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}

cre8-input-wrapper input {
  color: $input-text-color;
  text-indent: 10px;
  font-size: $input-font-size;
  font-weight: normal;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  line-height: $input-height;
  height: $input-height;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid $border-color;
  cursor: text;

  -webkit-transition-property: border-bottom-width;
  transition-property: border;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
}
cre8-input-wrapper.cre8-input-focused input,
cre8-input-wrapper.cre8-input-has-value input {
  border-bottom-width: $border-height;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}
cre8-input-wrapper textarea {
  color: $input-text-color;
  font-size: $input-font-size;
  text-indent: 10px;
  font-weight: normal;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  padding: 0 10px;
  margin: 0;
  resize: none; /* user can resize vertically, but width is fixed */

  border-bottom: 1px solid $border-color;
  height: $input-height;

  -webkit-transition-property: border-bottom-width, height;
  transition-property: border-bottom-width, height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
}

cre8-input-wrapper label:hover + textarea{
  border-bottom-width: $border-height;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}
cre8-input-wrapper:hover textarea {
  background-color: #111;

  color: $input-text-color;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}

cre8-input-wrapper.cre8-input-focused textarea,
cre8-input-wrapper.cre8-input-has-value textarea {
  border-bottom-width: $border-height;
  height: 200px;
  padding: 10px 10px;
  background-color: #111;
  color: $input-text-color;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}
//////////////////////////////////////   scroll   //////////////////


cre8-input-wrapper textarea::-webkit-scrollbar-track
{
  background-color: #000;
}

cre8-input-wrapper textarea::-webkit-scrollbar
{
  width: 6px;
  margin: 0 2px;
}

cre8-input-wrapper textarea::-webkit-scrollbar-thumb
{
  background-color: $border-color;
  border: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin: 2px;

}
////////////////////////////////////////////////////////////////

cre8-input-wrapper label {
  pointer-events: none;
  position: absolute;
  left: 0;
  bottom: $border-height;
  font-size: $label-font-size;
  text-indent: 10px;
  height: $input-height;
  line-height: $input-height;
  color: $label-text-color;
  font-weight: normal;
  letter-spacing: 1px;
  cursor: text;
  -webkit-transform: translateY(0) translateZ(0) ;
  transform: translateY(0) translateZ(0);
  @include transition-all;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-delay: .5s; /* Safari */
  transition-delay: .5s;
}

cre8-input-wrapper.cre8-input-focused label,
cre8-input-wrapper.cre8-input-has-value label
 {
  bottom: 0px;
  height: $border-height;
  line-height: $border-height;
  font-size: ($border-height) - 3px;
  text-indent: 10px;
  color: $border-label-color-text;
  font-weight: normal;
  -webkit-transition-delay: 0s; /* Safari */
  transition-delay: 0s;
}


///////////////////////////////////////
































