//* {
//  box-sizing: border-box;
//  -moz-box-sizing:    border-box;   /* Firefox 1, probably can drop this */
//  -webkit-box-sizing: border-box;   /* Safari 3-4, also probably droppable */
//
//}


/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

input, select {
  vertical-align:middle;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
  outline: none;
}