body, html {
  background-color: #000;
  font-family: Verdana, sans-serifervetica;
  font-size: 14px;
}
* {
  box-sizing:content-box;
  -moz-box-sizing:    content-box;   /* Firefox 1, probably can drop this */
  -webkit-box-sizing: content-box;   /* Safari 3-4, also probably droppable */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
$input-height: 30px;
$border-height:12px;
$border-color: #C40A5D;
$border-label-color-text: #fff;

$label-text-color: #666;
$label-font-size: 14px;

$input-text-color: #ccc;
$input-font-size: 12px;
///////////////////////////////////////

@mixin flex-none {
  -webkit-flex: none;
  flex: none;
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
//@mixin flex($values) {
//  -webkit-box-flex: $values;
//  -moz-box-flex:  $values;
//  -webkit-flex:  $values;
//  -ms-flex:  $values;
//  flex:  $values;
//}

@mixin flex($fg: 1, $fs: null, $fb: null) {
  // Set a variable to be used by box-flex properties
  $fg-boxflex: $fg;
  // Box-Flex only supports a flex-grow value so let's grab the
  // first item in the list and just return that.
  @if type-of($fg) == 'list' {
    $fg-boxflex: nth($fg, 1);
  }
  -webkit-box-flex: $fg-boxflex;
  -webkit-flex: $fg $fs $fb;
  -moz-box-flex: $fg-boxflex;
  -moz-flex: $fg $fs $fb;
  -ms-flex: $fg $fs $fb;
  flex: $fg $fs $fb;
}


@mixin flex-grow($int: 0) {
  -webkit-box-flex: $int;
  -webkit-flex-grow: $int;
  -moz-flex-grow: $int;
  -ms-flex-positive: $int;
  flex-grow: $int;
}
@mixin flex-shrink($int: 1) {
  -webkit-flex-shrink: $int;
  -moz-flex-shrink: $int;
  -ms-flex-negative: $int;
  flex-shrink: $int;
}
@mixin flex-basis($value: auto) {
  -webkit-flex-basis: $value;
  -moz-flex-basis: $value;
  -ms-flex-preferred-size: $value;
  flex-basis: $value;
}


@mixin justify-content ($justifyStyle) {
  -ms-flex-justify: $justifyStyle;
  -webkit-justify-content: $justifyStyle;
  justify-content: $justifyStyle;
}

@mixin flex-direction($direction) {
  -ms-flex-direction:$direction;
  -webkit-flex-direction:$direction;
  flex-direction:$direction;
}
@mixin flex-wrap($wrap) {
  -ms-flex-wrap:$wrap;
  -webkit-flex-wrap:$wrap;
  flex-wrap:$wrap;
}
@mixin align-content($alignContent) {
  -ms-flex-align:$alignContent;
  -webkit-align-items:$alignContent;
  align-items: $alignContent;
}

@mixin align-items($align) {
  -ms-flex-align:$align;
  -webkit-align-items:$align;
  align-items: $align;
}

@mixin align-self($selfAlign) {
  -ms-flex-align-self: $selfAlign;
  -webkit-align-self: $selfAlign;
  align-self: $selfAlign;
}

@mixin flex-order($order) {
  -ms-flex-order:$order;
  -webkit-order:$order;
  order:$order;
}

///////////////////////////////////////////////

@mixin transition-all() {
  -webkit-transition: all;
  -moz-transition: all;
  -o-transition: all;
  transition: all;
}

///////////////////////////////////////////////

.flex-wrapper {
  @include flexbox;
  @include flex-direction(column);
  @include align-content(center);
  @include align-items(stretch);
  @include justify-content(center);
  background-color: #222;
  margin: 20px 0;
  padding: 20px 0;
  width: 50%;
}


//////////////////////////////////////////////

input::-moz-focus-inner {
  border: 0;
}
object, embed {
  outline: 0;
}
input:focus, textarea:focus {
  outline: 0;
}

cre8-input-wrapper {
  @include flex(1);
  @include flexbox;
  @include flex-direction(column);
//  @include align-content(center);
//  @include align-items(stretch);
 // @include justify-content(center);
  background-color: #333;
  position: relative;
  min-height: $input-height + $border-height;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;


}




input {
  color: $input-text-color;
  text-indent: 10px;
  font-size: $input-font-size;
  font-weight: normal;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  line-height: $input-height;
  height: $input-height;
  padding: 0;
  margin: 0;
  background-color: transparent;
  border-bottom: 1px solid $border-color;

  -webkit-transition-property: border-bottom-width;
  transition-property: border;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
cre8-input-wrapper.cre8-input-focused input,
cre8-input-wrapper.cre8-input-has-value input {
  border-bottom-width: $border-height;
}
textarea {
  color: $input-text-color;
  font-size: $input-font-size;
  text-indent: 10px;
  font-weight: normal;
  background-color: transparent;
  -webkit-appearance: none;
  border: none;
  padding: 0 10px;
  margin: 0;
  background-color: transparent;
  resize: none; /* user can resize vertically, but width is fixed */

  border-bottom: 1px solid $border-color;
  height: $input-height;

  -webkit-transition-property: border-bottom-width;
  transition-property: border, height;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;

}
cre8-input-wrapper.cre8-input-focused textarea,
cre8-input-wrapper.cre8-input-has-value textarea {
  border-bottom-width: $border-height;
  height: 200px;
  padding: 10px 10px;
}
//////////////////////////////////////   scroll   //////////////////
textarea::-webkit-scrollbar-track
{
  background-color: #000;
}

textarea::-webkit-scrollbar
{
  width: 6px;
  margin: 0 2px;
}

textarea::-webkit-scrollbar-thumb
{
  background-color: $border-color;
  border: none;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  border-radius: 40px;
  margin: 2px;

}
////////////////////////////////////////////////////////////////

label {
  position: absolute;
  left: 0;
  bottom: $border-height;
  font-size: $label-font-size;
  text-indent: 10px;
  height: $input-height;
  line-height: $input-height;
  color: $label-text-color;
  font-weight: normal;

  -webkit-transform: translateY(0) translateZ(0) ;
  transform: translateY(0) translateZ(0);
  @include transition-all;

  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}


cre8-input-wrapper.cre8-input-focused label,
cre8-input-wrapper.cre8-input-has-value label
 {
 // top: ($input-height) ;
  bottom: 0px;
  height: $border-height;
  line-height: $border-height;
  font-size: ($border-height) - 2px;
  text-indent: 0px;
  color: $border-label-color-text;
  font-weight: bolder;
}


///////////////////////////////////////
































